*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #191d32;
  width: 75vw;
  margin: 10vh auto;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 20px 60px;
}

#btn-generate {
  padding: 17px 37px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin: auto;
  display: inherit;
}

#listenning-story {
  width: 100%;
  height: 250px;
  padding: 20px;
}

#listenning-story #story-container {
  margin-bottom: 40px;
}

#listenning-story #questions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#listenning-story #questions-container .question {
  font-size: 16px;
}
#listenning-story #questions-container .question p {
  font-weight: 600;
}
#listenning-story #questions-container .question span {
  display: block;
  line-height: 28px;
  cursor: pointer;
}


/* #listenning-story p::after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  background-color: #fff;
} */

#audio-player {
  margin: 50px auto 60px auto;
  width: 100%;
  max-width: 450px;
  display: block;
}

#welcome {
  width: 100%;
  font-size: 100px;
  line-height: 131px;
  color: #474973;
  text-align: center;
  font-weight: bold;
}

#btn-generate {
  margin-bottom: 10px;
}

#btn-generate.loading {
  border-color: gray;
  color: gray;
}